<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yb.testtalk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Menu_Chat.MessageActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".Menu_Search.patientSearchMenu" />
        <activity android:name=".Menu_Search.Auto" />
        <activity android:name=".Menu_Insert.Insert_to_PatientInfo" />
        <activity android:name=".HttpJson.GetJson" />
        <activity android:name=".Menu_Search.After_Search" />
        <activity android:name=".Menu_Search.GetpatientInfo" />
        <activity android:name=".Menu_Search.PatientInfoDetail" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Menu_Search.Infusion_detail" />

    </application>

</manifest>